<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <title><%= view === 'index' ? 'Home' : view.charAt(0).toUpperCase() + view.slice(1) %> - AlexMiHa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/icons.css" />
        <link rel="stylesheet" href="/css/input.css" />
        <script src="/js/cookie.js"></script>
        <script src="/js/theme.js"></script>
    </head>
    <body>
        <nav>
            <div class="nav-content">
                <a class="icon-button" href="/"><img class="svg-content" src="images/logo.svg" alt="Logo"/></a>
                <div>
                    <div id="menu-links">
                        <a href="/" <%= view === 'index' ? 'class=primary' : '' %>>Home</a>
                        <a href="/about" <%= view === 'about' ? 'class=primary' : '' %>>About</a>
                        <!-- <a href="/">Blog</a> -->
                        <a href="/portfolio" <%= view === 'portfolio' ? 'class=primary' : '' %>>Portfolio</a>
                        <a href="/contact" <%= view === 'contact' ? 'class=primary' : '' %>>Contact</a>
                    </div>
                    <button id="theme-switcher" aria-label="switch theme"><span class="ti ti-light-darkmode"></span></button>
                    <button id="nav-toggle" aria-label="toggle mobile navigation"><span class="ti ti-menu-2"></span></button>
                    <script>
                        document.getElementById('nav-toggle').addEventListener('click', function () {
                            const menu = document.getElementById('menu-links');
                            const buttonDisplay = this.lastElementChild;
                            if(menu.classList.contains('active')) {
                                menu.classList.remove('active');
                                buttonDisplay.classList.remove('ti-x')
                                buttonDisplay.classList.add('ti-menu-2');
                            }else {
                                menu.classList.add('active');
                                buttonDisplay.classList.add('ti-x')
                                buttonDisplay.classList.remove('ti-menu-2');
                            }
                        })
                    </script>
                </div>
            </div>
        </nav>
        <div class="wrapper">
            <%- body %>
        </div>
        <footer>
            <div class="footer-content low-opacity">
                <div>
                    <span>&copy; AlexMiHa</span>
                    <span class="foot-dot">&middot;</span>
                    <a href="/imprint">Imprint</a>
                </div>
                <div>
                    <a class="icon-button" id="insta-link" target="_blank" href="https://www.instagram.com/alexmi_ha/"><img class="svg-content" alt="asd" src="images/insta.svg"></a>
                    <a class="icon-button" id="github-link" target="_blank" href="https://github.com/AlexMi-Ha"><img class="svg-content" alt="asd" src="images/github-mark.svg"></a>
                    <a class="icon-button" id="mail-link" target="_blank" href="mailto:alex@alexmiha.de"><img class="svg-content" alt="asd" src="images/email.svg"></a>
                </div>
            </div>
        </footer>
    </body>
</html>